@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');


:root { 
    --color-first: #F25A70;
    --color-second: #7C5E99;
    --color-third: #FFFFFF;
    --color-black-first: #000000;
    --color-black-second: #3A4042;
    --color-black-third: #828282;
    --color-error: #BA1F33;
    --color-warning: #CEB02A;
    --color-success: #62C370;

    --fonte-padrao: 'Fira Code', monospace;
    --fonte-titulo: 'Press Start 2P', sans-serif;
}

body {
    font-family: var(--fonte-padrao);
}

.header-img {
    width: 60px;
    height: 60px;
}