.button-arrow {
    width: 50px;
    height: 50px;
    background-color: var(--color-first);
    box-shadow: 5px 5px 0px var(--color-black-first);
    cursor: pointer;
}

.button-arrow .content {
    display: none;
}

.button-arrow::before {
    content: '';
    display: block;
    box-sizing: border-box;
    width: 15px;
    height: 15px;
    border: 15px solid transparent;
    border-left: 28px solid var(--color-third);
    transform: translateX(5px);
}