.main-section {
    min-height: 500px;
    padding-top: 50px;
    padding-bottom: 100px;
    background-color: var(--color-first);
    border-bottom: 10px solid var(--color-second);
}

.main-section .main-title {
    margin-bottom: 60px;
}

.main-section.-bgBlack {
    background-color: var(--color-black-first);
}

.main-section.-bdFirst {
    border-color: var(--color-first);
}

.main-section.-bgPurple {
    background-color: var(--color-second);
}

.main-section.-bdSecond {
    border-color: var(--color-black-first);
}