footer {
    display: flex;
    justify-content: center;
    background-color: var(--color-black-first);
    margin-top: 550px;
    width: 100%;
    padding: 10px 0px;
}

footer img {
    width: 35px;
    height: 35px;
}