.banner {
    position: absolute;
    width: 100%;
    height: 550px;
    border-bottom: 10px solid #000000;
}

.banner-img {
    position: absolute;
    width: 100%;
    height: 550px;
}

#box {
    position: relative;
    background-color: var(--color-black-second);
    box-shadow: 6px 6px 0 #000000;
    width: 627px;
    height: 184px;
    margin-left: 91px;
    margin-top: 150px;
}

.skill {
    font-family: var(--fonte-titulo);
    color: var(--color-third);
    font-size: 25px;
    position: absolute;
    width: 100%;
    height: 600px;
    background-color: var(--color-first);
    border-bottom: 10px solid var(--color-second);
    margin-top: 560px;
    text-align: center;
}

#skill-box {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 45px;
}

.skill-box-id {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: left;
    margin-bottom: 40px;
}

.skill-box-id p {
    margin: 10px 0px;
}

.skill-box-img {
    width: 80px;
    height: 90px;
    margin: 20px;
}

.skill-bar {
    background-color: var(--color-third);
    border: 5px solid var(--color-black-first);
    width: 367px;
    height: 40px;
}

#skill-bar-html {
    background-color: var(--color-second);
    width: 120px;
    height: 40px;
}

#skill-bar-css {
    background-color: var(--color-second);
    width: 90px;
    height: 40px;
}

#skill-bar-js {
    background-color: var(--color-second);
    width: 100px;
    height: 40px;
}

#skill-bar-react {
    background-color: var(--color-second);
    width: 20px;
    height: 40px;
}