.banner {
    position: absolute;
    width: 100%;
    height: 550px;
    border-bottom: 10px solid #000000;
}

.banner-img {
    position: absolute;
    width: 100%;
    height: 550px;
}

.box {
    display: inline-block;
    background-color: var(--color-black-second);
    box-shadow: 10px 10px 0 #000000;
    text-align: center;
    padding: 42px 44px;
    position: relative;
    margin-left: 91px;
    margin-top: 150px;
}

.box .title {
    margin-bottom: 28px;
}

.skill {
    font-family: var(--fonte-titulo);
    color: var(--color-third);
    font-size: 25px;
    position: absolute;
    width: 100%;
    height: 600px;
    background-color: var(--color-first);
    border-bottom: 10px solid var(--color-second);
    margin-top: 560px;
    text-align: center;
}

#skill-box {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 45px;
}

.skill-box-id {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: left;
    margin-bottom: 40px;
}

.skill-box-id p {
    margin: 10px 0px;
}

.skill-box-img {
    width: 80px;
    height: 90px;
    margin: 20px;
}

.skill-bar {
    background-color: var(--color-third);
    border: 5px solid var(--color-black-first);
    width: 367px;
    height: 40px;
}

#skill-bar-html {
    background-color: var(--color-second);
    width: 100px;
    height: 40px;
}

#skill-bar-css {
    background-color: var(--color-second);
    width: 80px;
    height: 40px;
}

#skill-bar-js {
    background-color: var(--color-second);
    width: 80px;
    height: 40px;
}

#skill-bar-react {
    background-color: var(--color-second);
    width: 20px;
    height: 40px;
}

#projects {
    background-color: var(--color-black-first);
    border-bottom: 10px solid var(--color-second);
    width: 100%;
    height: 520px;
    margin-top: 1170px;
    text-align: center;
}

#projects-area {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 30px;
}

.project-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 280px;
    height: 280px;
    box-shadow: 10px 10px 0px var(--color-third);
}

#project-one {
    background-color: var(--color-first);
}

#project-two {
    background-color: var(--color-black-third);
}

#project-three {
    background-color: var(--color-second);
}

.project-img {
    width: 245px;
    height: 245px;
    cursor: pointer;
    transition: transform 400ms;
}

.project-img:hover {
    transform: scale(1.05);
}

#form-area {
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: var(--color-black-second);
    width: 100%;
    height: 550px;
    text-align: center;
    padding: 0px 40px;
    box-sizing: border-box;
}

#form-area label, input, textarea, button {
    display: block;
    width: 100%;
}

form {
    text-align: left;
    font-family: var(--fonte-padrao);
    font-size: 20px;
    font-weight: 300;
    color: var(--color-third);
}

form label {
    margin-top: 20px;
}
form input {
    border: 5px solid var(--color-black-first);
    height: 30px;
}

form textarea {
    border: 5px solid var(--color-black-first);
}

#form-area button {
    margin: 20px 0px;
    padding: 10px 0px;
    background-color: var(--color-first);
    color: var(--color-third);
    font-family: var(--fonte-padrao);
    font-size: 20px;
    box-shadow: 5px 5px 0px var(--color-black-first);
    cursor: pointer;
}

footer {
    display: flex;
    justify-content: center;
    background-color: var(--color-black-first);
    margin-top: 550px;
    width: 100%;
    padding: 10px 0px;
}

footer img {
    width: 35px;
    height: 35px;
}