.main-banner {
    background-image: url("../../assets/imagens/banner-m.jpg");
    width: 100%;
    height: 85vh;
    border-bottom: 10px solid #000000;
}

.main-banner .banner-button {
    display: flex;
    justify-content: space-between;
    width: 455px;
    margin-left: 181px;
    margin-top: 30px;
}