.main-title {
    font-family: var(--fonte-titulo);
    font-size: 40px;
    line-height: 40px;
    color: var(--color-first);
    text-shadow: 4px 4px 0px #000000;
}

.main-title.-second {
    color: var(--color-third);
    text-shadow: none;
    text-align: center;
}